.navbar{
    /* Color pallete(dark to light): */
    /* #0b4a77, #eb9516 */
    /* #21221b. 662c16, 923d0d, c26812, */
    
    background-color: #0b4a77;
    padding: 150;
}

#logo{
    width:30vh;
    padding-left: 3%;
}

.btn-burger{
    padding-right: 3%;
}

.btn-burger:hover{
    background-color: #44515a;
}

body{
    background-color: #5387ac;
}

.containers{
    padding: 5% 20%;
    text-align: center;
    border-top: #0b4a77 solid 5px;
    border-bottom: #0b4a77 solid 5px;
    overflow: hidden;
}

/* .slides{
    text-align: center;
} */

/* Excerpt from https://codepen.io/KamilDyrek/pen/ejmRxV */
/* input {
    position: absolute;  
    opacity: 0;
    margin-top: 95vh;
    cursor: pointer;
}

label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 2px #44515a;
    border-radius: 999px;
    background-color: transparent;
    margin: 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
}

input:checked + label{
    background-color: #44515a;
}

input:focus + label{
    box-shadow: 0 0 0 2px #0b4a77, 0 0 18px #06385c; 
}*/

/* .slide {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
} */

/* input:checked ~ .slide {
    transform: translateX(100%);
}
  
input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
} */
/* End of excerpt */

.w3-display-container{
    padding: 50px 100px;
    margin: 10px 0;
    padding-left: 10%;
    background-color: #484d5a;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}

.w3-badge {
    height:15px;
    width:15px;
    padding:0;
}

h2{
    padding-bottom: 30px;
    text-decoration-line: underline #e23d22;
}

p{
    /* padding-top: 10px; */
    font-size: large;
}

.whyUs{
    background-color: #3B5998;
    color: #f7e8da;
}

/* Excerpt from https://webdevtrick.com/css-fixed-social-media-sidebar/ */
#social-sidebar {
    left: 0;
    position: fixed;
    top: 30%;
}

#social-sidebar li:first-child a { border-top-right-radius: 5px; }
#social-sidebar li:last-child a { border-bottom-right-radius: 5px; }
 
#social-sidebar a {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    text-decoration: none;
    display: block;
    height: 50px;
    width: 50px;  
    font-size: 24px;
    line-height: 50px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

#social-sidebar a:hover span {
    left: 120%;
    opacity: 1;
}

#social-sidebar a span {
    font: 12px "Open Sans", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 24px;
    left: -100%;
    margin-top: -16px;
    opacity: 0;
    padding: 4px 8px;
    position: absolute;
    transition: opacity .3s, left .4s;
    top: 50%;
    z-index: -1;
}
 
#social-sidebar a span:before {
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
}
 
#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before {background: #00aced;}
 
#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {background: #3B5998;}
 
#social-sidebar a[class*="gmail"]:hover,
#social-sidebar a[class*="gmail"] span,
#social-sidebar a[class*="gmail"] span:before {background: #E34429;}
 
#social-sidebar a[class*="instagram"]:hover,
#social-sidebar a[class*="instagram"] span,
#social-sidebar a[class*="instagram"] span:before {background: #ea4c89;}
 
#social-sidebar a[class*="youtube"]:hover,
#social-sidebar a[class*="youtube"] span,
#social-sidebar a[class*="youtube"] span:before {background: #fa6d68;}
/* End of excerpt */

footer{
    text-align: center;
    background-color: #44515a;
    color: #ddc9b7;
    padding: 30px;
    padding-left: 300px;
    /* margin: 40px ; */
    margin-left: 20%;
}